body{
    padding: 15px;
    min-width: 680px;
}

.field{
    min-width: 650px;
    /* max-width: 830px; */
    /* padding-left: max(0px, 50% - 210px - max(200px, min(100% - 410px, 400px))/2); */
}

.task,
.checked_task,
.description,
.find_line{
    display: grid;
    /* grid-template-columns: 50px 150px max(200px, min(100% - 410px, 400px)) 95px 25px; */
    grid-template-columns: 50px 160px max(200px, 100% - 450px) 95px 25px;
    gap: 20px;
    grid-template-areas:
        "status date name";
    margin-bottom: 10px;
    /* padding-left: max(0px, 50% - 210px - max(200px, min(100% - 410px, 400px))/2); */
}

.description,
.find_line{
    grid-template-rows: 30px; 
}

.task_input,
.task_date{
    color: black;
    filter: brightness(100%);
    font-size: large;
}

.task_input[disabled],
.task_date[disabled] {
    color: black;
    filter: brightness(100%);
    font-size: large;
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    border-style: solid;
    text-align: center;
}

.add_button,
.clear_button{
    grid-column: span 2;
    background-color: #9dfda0;
}
.add_button:hover,
.clear_button:hover{
    background-color: #45a049;
}

.status{
    accent-color: rgb(210, 255, 143);
}
.status:hover{
    accent-color: rgb(200, 255, 117);
}

.confirm_button,
.checked_task{
    text-align: center;
    font-size: small;
}

.task > .change_button, 
.task > .confirm_button,
.task > .delete_button{
    background-color: rgb(250, 180, 179);
}

.task > .change_button:hover, 
.task > .confirm_button:hover,
.task > .delete_button:hover{
    background-color: rgb(250, 160, 158);
}

.checked_task > .change_button, 
.checked_task > .confirm_button,
.checked_task > .delete_button{
    background-color: rgb(210, 255, 143);
}

.checked_task > .change_button:hover, 
.checked_task > .confirm_button:hover,
.checked_task > .delete_button:hover{
    background-color: rgb(200, 255, 117);
}

.time_sort,
.column_name{
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.selector{
    font-size: medium;
    font-weight: 550;
}

.task,
.checked_task{
    grid-template-rows: 25px; 
    padding: 8px;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.task{
    background-color: rgb(255, 205, 204);
}

.checked_task{
    background-color: rgb(220, 255, 168);
}

.task.selected{
    background-color: rgb(255, 106, 104);
}

.checked_task.selected{
    background-color: rgb(166, 255, 33);
}




